################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/bin
/Application/obj
/Domain/bin
/Domain/obj
/Front/bin/Debug/net6.0
/Front/obj
/Persistence/bin
/Persistence/obj
/.vs/portalpsico/v17
