################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/bin
/Application/obj
/Domain/bin
/Domain/obj
/Front/bin/Debug/net6.0
/Front/obj
/Persistence/bin
/Persistence/obj
/.vs/portalpsico/v17
/Front/bin/Release/net6.0
/.vs/portalpsico/config
/.vs/portalpsico/DesignTimeBuild/.dtbcache.v2
/Front/Properties/PublishProfiles
/Front/Properties/ServiceDependencies/portalpsico - Zip Deploy
