<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f1e372b5-dac0-468e-96a4-8c02ee723b1e/resourceGroups/portalpsico/providers/Microsoft.Web/sites/portalpsico</ResourceId>
    <ResourceGroup>portalpsico</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://portalpsico.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ec106e65-e638-4afb-ab8b-b509db3cd644</ProjectGuid>
    <PublishUrl>https://portalpsico.scm.azurewebsites.net/</PublishUrl>
    <UserName>$portalpsico</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>